<div id="<%= dom_id unit %>">
  <p>
    <strong>User:</strong>
    <%= unit.user_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= unit.construction_type %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= unit.brand %>
  </p>

  <p>
    <strong>Fr data:</strong>
    <%= unit.name %>
  </p>

</div>
