<head>
  <title>CrinGraph Rails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
  <meta name="description" content="View and compare frequency response graphs for earphones/headphones."/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-title" content="CrinGraph"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "application_bootstrap", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag (@current_configuration.alt_layout ? "layouts/alt" : "layouts/default"), "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png?v=Gv7arLdWjW" />
  <%# <link rel="icon" type="image/png" sizes="32x32" href="/cringraph-favicon.png?v=Gv7arLdWjW" /> %>
  <link rel="shortcut icon" href="/favicon.ico?v=Gv7arLdWjW" />
  <link rel="apple-touch-icon" href="/cringraph-icon.png?v=Gv7arLdWjW" />

  <base target="_parent">
</head>